* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red;  */
}

html {
    font-size: 62.5%;
}

body {
    background-color: $purpleBackground;
    color: $purpleText;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    min-height: 100vh;
}


/* ============== PAGE PUBLIER UN FILM============= */

/* ....... titre publier ......... */

.publishTitle {
    margin: 10rem auto 5rem;
}

/* ============== MEDIA QUERY ============= */

@media screen and (max-width: 991px) {
    
    .navbar-collapse {
        position: absolute;
        top: 6rem;
        width: 15rem;
        background-color: $purpleBackground;
        padding: 0.3rem;
    }

    .navbar-nav .nav-item .nav-link {
        margin: 0;
        padding: 0.5rem;
    }
} ;
