@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Rammetto+One&family=Skranji&display=swap');

@import './base';
@import './component';
@import './layout';

// npm init
/* "sass": "sass --watch ./styles/:./styles/" */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
}

body {
    background-color: $purpleBackground;
    color: $purpleText;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    min-height: 100vh;
}

/*  ============= MEDIA QUERY================ */

@media screen and (max-width: 991px) {
    /* effet barre sous nav */
    .navbar-nav .nav-item .nav-link {
        text-decoration: underline 0.15em rgba(201, 173, 167, 0);
        text-underline-offset: -1.5em;
    }
    .navbar-nav .nav-item .nav-link:hover {
        text-decoration: underline 0.15em rgba(201, 173, 167, 1);
    }
}
