@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Rammetto+One&family=Skranji&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(21, 23, 27);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    min-height: 100vh;
}

/*============== HEADER =================*/

header {
    background-color: rgb(24, 44, 36);
    min-height: 6vh;
    display: flex;
    align-items: center;
    z-index: 10;
    box-shadow: 4px 4px 7px 1px black;
}

.header__title {
    flex: 1;
}

h1 {
    font-size: 4.5rem;
    margin-left: 2rem;
    padding: 0.8rem;
}

/*  ======= personalise le btn hambuger ========= */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(66, 173, 138, 0.993)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler-icon {
    width: 3rem;
}

.custom-toggler.navbar-toggler:focus {
    box-shadow: none;
}

.header__nav {
    flex: 10;
    margin-right: 2rem;
}

.navbar-nav .nav-item .nav-link {
    color: rgba(66, 173, 138, 0.993);
    font-size: 1.6rem;
    text-decoration: underline 0.15em rgba(66, 173, 138, 0);
    text-underline-offset: 0.5em;
    margin-right: 1rem;
    transition: text-decoration-color 500ms;
}

.navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline 0.15em rgba(66, 173, 138, 1);
}

/*  ============= BANNIERE ================ */

.banniere {
    background-image: url('../img/banniere.jpg');
    background-position: center;
    background-size: cover;
    height: 30vw;
    max-height: 50rem;
    z-index: -50;
    position: relative;
}

.slogan {
    color: rgb(26, 94, 71);
    font-size: 1.7vmin;
    font-weight: bold;
    position: absolute;
    top: 13%;
    left: 51%;
    transform: translate(-51%, -13%);
}

.label {
    color: rgba(66, 173, 138, 1);
    margin-left: 0;
}

.label_placeholder {
    color: #000;
}

/* ======== CREATE ================ */



.form-control:focus {
    box-shadow: none;
    border: 2px solid rgba(66, 173, 138, 1);
}

.textarea_placeholder {
  color: #000;
}

/*  ============= MEDIA QUERY================ */
@media screen and (max-width: 991px) {
    /* effet barre sous nav */
    .navbar-nav .nav-item .nav-link {
        text-decoration: underline 0.15em rgba(66, 173, 138, 0);
        text-underline-offset: -1.5em;
    }

    .navbar-nav .nav-item .nav-link:hover {
        text-decoration: underline 0.15em rgba(66, 173, 138, 1);
    }
}
